{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_filters %}

{% block title %}Login{% endblock %}

{% block head %}
    <!-- Link to Login CSS -->
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5 mb-5">
    <div class="card">
        <h1>Login</h1>
        <form method="post" novalidate>
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary mt-3">Login</button>
        </form>
    </div>
</div>
{% endblock %}
