{% extends 'base.html' %}
{% load custom_tags %}

{% block content %}
<div class="container">
    <h1 class="text-center mb-4">Monthly Workout Schedule</h1>

    <!-- Back to Schedule Button -->
    <div class="d-flex justify-content-between align-items-center mb-4">
        <a href="{% url 'schedule:schedule_list' %}" class="btn btn-secondary">Back to Schedule</a>
        <!-- Date Picker -->
        <div>
            <label for="month-selector" class="form-label">Select a Month:</label>
            <input type="month" id="month-selector" class="form-control" value="{{ current_month_start|date:'Y-m' }}" style="max-width: 200px;" />
        </div>
    </div>

    <!-- Monthly Schedule Table -->
    <div class="table-responsive">
        <table class="table table-bordered text-center">
        <thead class="bg-dark text-white">
            <tr>
                {% for day in 31|get_range %}
                <th>{{ day }}</th>
                {% endfor %}
            </tr>
        </thead>
            <tbody>
                <tr>
                    {% for day, workouts in monthly_schedule.items %}
                    <td class="{% if workouts %}bg-primary text-white{% else %}bg-light{% endif %}">
                        {% if workouts %}
                            {% for workout in workouts %}
                                <div class="mb-2">
                                    <p><strong>{{ workout.workout.name }}</strong></p>
                                    <p>{{ workout.description|default:"No description provided" }}</p>
                                    <p>{{ workout.time }}</p>
                                </div>
                            {% endfor %}
                        {% else %}
                            <p>Rest</p>
                        {% endif %}
                    </td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script>
    document.getElementById('month-selector').addEventListener('change', function () {
        const selectedDate = this.value; // e.g., "2024-12"
        window.location.href = `{% url 'schedule:monthly_schedule' %}?month_start=` + selectedDate + "-01";
    });
</script>
{% endblock %}
