/* Adjust table size */
.table {
    table-layout: fixed;
}

.table td {
    height: 150px;
    vertical-align: top;
}

/* Color coding */
.bg-primary {
    background-color: #007bff;
    color: #fff;
}

.bg-light {
    background-color: #f8f9fa;
    color: #6c757d;
}

/* Add spacing for workouts */
.table td div {
    margin-bottom: 10px;
}
